<div class="text-center">
  <h1 class="page-title">
    Speech to text and AI
  </h1>

  <button *ngIf="speechEnabled; else speechNotEnabled" class="btn btn-lg" (click)="start($event)" [ngClass]="{ 'btn-primary': !recognizing, 'btn-danger': recognizing }">
    Pulsa aquí para hablar
  </button>
  <br>

  <div class="row mt-10">

    <div class="col-sm-6">
      <div class="well">
        <strong>Solicitud</strong>
        <app-speech-request-detail [speechRequest]="speechRequest$ | async"></app-speech-request-detail>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="well">
        <strong>Log</strong> <small>{{ status }}</small>
        <div></div>
        <div *ngFor="let msg of conversation">
          <ng-container *ngIf="msg.sender === 'user'; else aiResponse">
            <strong>{{ msg.sender }}</strong> - {{ msg.text }}
          </ng-container>

          <ng-template #aiResponse>
            <strong>{{ msg.sender }}</strong>- {{ msg.text }}
          </ng-template>
        </div>
      </div>
    </div>

  </div>


  <ng-template #speechNotEnabled>
    <div class="col-xs-10 col-xs-offset-1 alert alert-warning">
      Reconocimiento de voz no soportado en el navegador
    </div>
  </ng-template>

</div>